.top-nav-left{
    float: left;
}

.top-nav-right, .minimize{
    float: right;
}

.header-contents-left{
    float: left;
}

.header-contents-right{
    float: right;
}

.content-row1-right{
    float: left;
}

.left, .mid{
    float: left;
}

.right{
    float: right;
}

.row3-img, .row3-img2{
    float: left;
}

.row4-content-left{
    float: left;
}

.content-row4-container button{
    float: right;
}

@media screen and (min-width: 481px){

    .footer-mid{
        float: left;
    }
    
    .footer-right{
        float: right;
    }

    .bottom-left{
        float: left;
    }
    
    .bottom-right{
        float: right;
    }

    .footer-img{
        float: left;
    }
}

@media screen and (min-width: 700px){

    .row2-img{
        float: left;
    }

    .row3-left{
        float: left;
    }
    
    .row3-right{
        float: right;
    }
}

@media screen and (min-width: 960px){

    .footer-left{
        float: left;
    }

    .footer-right-container{
        float: right;
    }
}


