.top-nav-left{
    float: left;
}

.top-nav-right, .minimize{
    float: right;
}

.header-contents-left{
    float: left;
}

.header-contents-right{
    float: right;
}

.row2-img{
    float: left;
}

.content-row1-right{
    float: left;
}

.left, .mid{
    float: left;
}

.right{
    float: right;
}

.row3-left{
    float: left;
}

.row3-img, .row3-img2{
    float: left;
}

.row3-right{
    float: right;
}

.row4-content-left{
    float: left;
}

.content-row4-container button{
    float: right;
}

.footer-right-container{
    float: right;
}

.footer-left, .footer-mid{
    float: left;
}

.footer-right{
    float: right;
}

.footer-img{
    float: left;
}

.bottom-left{
    float: left;
}

.bottom-right{
    float: right;
}

