
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 60em;
}

.top-nav-left{
    padding: 0.5625em 0;
}

.top-nav-bar-icon{
    text-align: center;
    background-color: #d2d2d2;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.top-nav-bar-icon:hover{
    background-color: #ee802f;
}

.top-nav-bar-icon img{
    vertical-align: -webkit-baseline-middle;
}

.top-nav-right{
    padding: 17px 0;
    font-size: 0.75em;
    color: #97455f;
}

.horizontal-line{
    height: 1px;
    width: 100%;
    background-color: #97455f;
}

.header-wrapper{
    background-color: #ebebeb;
    height: 270px;
}

.minimize{
    height: 26px;
    width: 30px;
    background-color: #97455f;
    padding-top: 12px;
    border-radius: 0 0 5px 5px;
}

.minimize-line{
    background-color: white;
    width: 11px;
    height: 1px;
}

.header-contents-container{
    padding: 63px 0 0 0;
}

.heading-I{
    font-size: 25px;
    font-weight: 100;
    color: #333333;
}

.heading{
    font-size: 20px;
    font-weight: 100;
    color: #333333;
}

.heading-support{
    font-size: 12px;
    color: #999999;
    width: 90px;
    display: inline-block;
}

.vertical-line{
    width: 1px;
    height: 25px;
    background-color: #999999;
    display: inline-block;
}

.search-container input{
    border: none;
    font-size: 12px;
    color: #999999;
    width: 90px;
    height: 33px;
    padding: 0 10px;
    border-radius: 6px 0 0 6px;
    min-width: 218px;
}

.search-container button{
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #97455f;
    border-color: none;
    border-style: none;
    height: 33px;
    padding: 0 10px;
    font-size: 12px;
}

input:focus{
    outline: none;
}

.main-content{
    margin-top: -130px;
    background-color: white;
}

.nav-bar-container, .main-content{
    border-radius: 5px 5px 0 0;
}

.nav-bar-container{
    background-color: #97455f;
    color: white;
    font-size: 12px;
    height: 50px;
}

.nav-bar-container span{
    padding: 19px 16px;
    height: 50px;
    display: inline-block;
}

.nav-bar-container span:hover{
    background-color: #6a3144;
}

.nav-bar-row1{
    border-top-left-radius: 5px;
}

.content-container{
    padding: 30px 30px 0 30px;
}

.slider-img{
    height: 359px;
    background-color: #333333;
    position: relative;
}

.slider-img p{
    color: white;
    text-align: center;
    vertical-align: middle;
}

.slider-desc{
    padding: 18px 38px;
    color: #383838;
    background-color: #adadad;
    /* margin: 0 11px 28px 0; */
    max-width: 454px;
    position: absolute;
    bottom: 28px;
    right: 11px;
}
.desc-col1{
    font-size: 36px;
}

.desc-col2{
    font-size: 16px;
    font-weight: 100;
}

.slider-indicator{
    margin-top: 20px;
    text-align: center;
}

.slider-indicator span{
    display: inline-block;
    border-radius: 50%;
    border-width: 1px;
    width: 15px;
    height: 15px;
    border: #333333;
    border-style: solid;
    background-color: #333333;
}

#active-slide{
    background-color: white;
}

.content-row2-container{
    margin-top: 50px;
}

.content-row2-title, .content-row3-title{
    position: relative;
}

.title-line{
    background-color: #ebebeb;
    height: 5px;
    width: 100%;
}

.title-val p{
    margin-top: -12px;
    text-align: center;
    /* background-color: white; */
}

.content-row2-row1, .content-row2-row2{
    margin-top: 40px;
}

.row2-img{
    background-color: #353535;
    height: 64px;
    width: 64px;
}

.row2-right{
    margin-left: 74px;
}

.title-right{
    font-size: 16px;
    color: #97455f;
    margin-bottom: 14px;
}

.desc-right{
    font-size: 13px;
    margin-top: 14px;
    color: #999999;
}

.row2-each-content{
    width: calc(100%/3);
}

.content-row3-container{
    margin-top: 50px;
}

.row3-each-content{
    margin-top: 33px;
}

.row3-img{
    border-radius: 50%;
    background-color: #353535;
    height: 128px;
    width: 128px;
}

.row3-left, .row3-right{
    width: calc(50% - 10px);
}

.row3-each-content-right{
    margin-left: 146px;
}

.each-content-title{
    font-size: 16px;
    margin-bottom: 14px;
}

.each-content-title-right{
    font-size: 16px;
    margin-bottom: 7px;
    margin-left: 71px;
}

.row3-each-content-right .title-val{
    margin-top: 14px;
    color: #6a3144;
    font-size: 13px;
}

.row3-each-content-right .desc-right{
    margin-bottom: 14px;
}

.title-val-right{
    margin-left: 18px;
    color: #6a3144;
    font-size: 13px;
}

.content-row4-container{
    margin: 50px 0;
    padding: 24px 30px;
    background-color: #97455f;
    border-radius: 7px;
}

.row4-content-left{
    color: white;
}

.content-row4-container button{
    padding: 20px 12px;
    border-radius: 7px;
    border-style: none;
    color: #97455f;
    font-size: 26px;
    background-color: white;
}

.row4-col1{
    font-size: 36px;
}

.row4-col2{
    margin-top: 8px;
    font-size: 18px;
}
