
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

input, textarea{
    border-style: none;
}

input:focus, textarea:focus{
    outline: none;
}

button{
    color: white;
    background-color: #97455f;
    border-color: unset;
    border-style: none;
    padding: 10px;
    font-size: 0.75em;
}

button, input, textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    cursor: pointer;
}

.top-nav-bar-icon{
    display: none;
    text-align: center;
    background-color: #d2d2d2;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.sharethis, .nav-bar-collapsible{
    display: inline-block;
}

.sharethis{
    transform: translateY(-25%);
}

.nav-bar-collapsible{
    transform: translateY(13%);
    margin-right: 10px;
}

.top-nav-bar-icon:hover{
    background-color: #ee802f;
}

.top-nav-bar-icon img{
    transform: translateY(50%);
}

.top-nav-right{
    padding: 17px 0;
    font-size: 0.75em;
}

.top-nav-right a{
    color: #97455f;
}

.horizontal-line{
    height: 1px;
    width: 100%;
    background-color: #97455f;
}

.header-wrapper{
    background-color: #ebebeb;
}

.minimize{
    height: 26px;
    width: 30px;
    background-color: #97455f;
    padding-top: 12px;
    border-radius: 0 0 5px 5px;
}

.minimize-line{
    background-color: white;
    width: 11px;
    height: 1px;
}

.header-contents-container{
    padding: 55px 0 60px 0;
}

.heading-I, .heading{
    font-weight: 100;
    color: #333333;
}

.heading-I{
    font-size: 2.125em;
}

.heading{
    font-size: 1.5625em;
}

.heading-support{
    font-size: 11px;
    color: #999999;
    width: 90px;
    display: inline-block;
}

.vertical-line{
    width: 1px;
    height: 25px;
    background-color: #999999;
    display: inline-block;
    margin-left: 5px;
}

.search-container input{
    font-size: 0.75em;
    color: #999999;
    width: 90px;
    padding: 10px;
    border-radius: 6px 0 0 6px;
    min-width: 218px;
    display: none;
}

.search-container button{
    border-radius: 0 5px 5px 0;
    display: none;
}

.search-button-small{
    border-radius: 5px;
    padding: 5px;
}

.main-content{
    background-color: white;
}

.nav-bar-container, .main-content{
    border-radius: 5px 5px 0 0;
}

.nav-bar-container{
    background-color: #97455f;
    color: white;
    font-size: 0.75em;
    height: 6.33%;    
    display: none;
}

.nav-bar-container span{
    padding: 19px 16px;
    height: 50px;
    display: inline-block;
}

.nav-bar-container span:hover{
    background-color: #6a3144;
}

.nav-bar-row1{
    border-top-left-radius: 5px;
}

.slider-img{
    /* background-color: #333333; */
    position: relative;
}

.image-wrapper, .slider-img, .slider-img img{
    width: 100%;
    height: 38%;
}

.slider-img p{
    color: white;
    text-align: center;
    vertical-align: middle;
}

.slider-desc{
    padding: 18px 38px;
    color: #383838;
    background-color: #adadad;
    /* margin: 0 11px 28px 0; */
    max-width: 454px;
    bottom: 28px;
    right: 11px;
}

.desc-col1{
    font-size: 1.125em;
}

.desc-col2{
    font-size: 0.75em;
    font-weight: 100;
}

.slider-indicator{
    margin-top: 20px;
    text-align: center;
}

.slider-indicator span{
    display: inline-block;
    border-radius: 50%;
    border-width: 1px;
    width: 15px;
    height: 15px;
    border: #333333;
    border-style: solid;
    background-color: #333333;
}

#active-slide{
    background-color: white;
}

.content-row2-container{
    margin-top: 50px;
}

.content-row2-title, .content-row3-title{
    position: relative;
}

.row3-right{
    margin-top: 33px;
}

.title-line{
    background-color: #ebebeb;
    height: 5px;
    width: 100%;
}

.title-val p{
    margin-top: -12px;
    text-align: center;
    /* background-color: white; */
}

.title-val span{
    background-color: white;
    padding: 5px;
}

.row2-each-content{
    margin-top: 20px;
}

.content-row2-row1, .content-row2-row2{
    text-align: center;
}

.row2-img{
    background-color: #ffffff;
    height: 44px;
    width: 44px;
}

.title-right{
    font-size: 1em;
    color: #97455f;
    margin-bottom: 14px;
}

.desc-right{
    font-size: 0.8125em;
    margin-top: 14px;
    color: #999999;
    line-height: 21px;
}

.row3-right .desc-right{
    text-align: center;
}

.content-row3-container{
    margin-top: 50px;
}

.row3-each-content{
    margin-top: 33px;
}

.row3-img img{
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.row3-each-content-right{
    margin-left: 146px;
}

.each-content-title{
    font-size: 1em;
    margin-bottom: 14px;
}

.each-content-title-right{
    font-size: 1em;
    margin-bottom: 7px;
    margin-left: 71px;
}

.row3-each-content-right .title-val{
    margin-top: 14px;
    color: #6a3144;
    font-size: 0.8125em;
}

.row3-each-content-right .desc-right{
    margin-bottom: 14px;
}

.title-val-right{
    margin-left: 18px;
    color: #6a3144;
    font-size: 0.8125em;
}

.content-row4-container{
    margin: 50px 0;
    padding: 24px 30px;
    background-color: #97455f;
    border-radius: 7px;
}

.row4-content-left{
    color: #e5e5e5;
}

.content-row4-container button{
    padding: 20px 12px;
    border-radius: 7px;
    border-style: none;
    color: #97455f;
    font-size: 20px;
    background-color: white;
}

.row4-col1{
    font-size: 1.875em;
}

.row4-col2 {
    margin: 8px 0 10px 0;
    font-size: 18px;
}

.footer-bottom-wrapper{
    background-color: #ebebeb;
    border-top-color: #d2d2d2;
    border-top-width: 1px;
}

.footer-left, .footer-mid, .footer-right{
    margin-top: 32px;
}

.footer-mid, .footer-right{
    text-align: center;
}

.footer-left-title {
    margin-bottom: 22px;
    text-align: center;
}

.footer-container{
    padding: 22px 0;
}

.footer-horizontal-line{
    background-color: #d2d2d2;
    height: 5px;
    width: 100%;
}

.footer-img{
    width: 99px;
    height: 99px;
    border: solid;
    border-width: 1px;
    border-color: #d2d2d2;
}

.footer-img img{
    width: 95px;
    height: 95px;
}

.footer-left-content {
    margin-top: 10px;
    text-align: center;
}

.col1-row1{
    margin-bottom: 30px;
}

.footer-right input, textarea{
    min-width: 226px;
    padding: 9px;
    border-radius: 6px;
    margin-bottom: 10px;
}

textarea{
    min-height: 110px;
    resize: none;
}

.footer-right button{
    border-radius: 5px;
}

.bottom-horizontal-line1, .bottom-horizontal-line2{
    height: 1px;
    width: 100%;
}

.bottom-horizontal-line1{
    background-color: #bcbcbc;
}

.bottom-horizontal-line2{
    background-color: white;
}

.bottom-container{
    font-size: 0.6875em;
    color: #999999;
    padding: 20px 0;
    text-align: center;
    line-height: 20px;
}

@media screen and (min-width: 481px){

    .heading-support{
        font-size: 14px;
    }

    .row2-right{
        margin-left: 74px;
        margin-top: -64px;
    }
    
    .content-row2-row1, .content-row2-row2{   
        text-align: left;
    }

    .row2-img{
        height: 64px;
        width: 64px;
    }

    .desc-right {
        margin-top: 5px;
    }

    .footer-mid, .footer-right{
        text-align: left;
    }

    .footer-left-content{
        margin-top: 0;
        margin-left: 115px;
        text-align: left;
    }

    .footer-left-title{
        margin-bottom: 22px;
        text-align: left;
    }
}

@media screen and (min-width: 700px){

    .row2-right{
        margin-top:0
    }

    .row2-each-content {
        width: calc(100%/3);
        margin: 0;
    }

    .content-row2-row1, .content-row2-row2{   
        margin-top: 40px;     
    }

    .slider-desc{
        position: absolute;
    }

    .desc-right {
        margin-top: 14px;
    }

    .row3-right .desc-right{
        text-align: left;
    }

    .row3-left, .row3-right {
        width: calc(50% - 10px);
    }

    .row3-right{
        margin-top: 0;
    }

    .row4-col1 {
        font-size: 1.875em;
    }

    .bottom-container {
        font-size: 0.8125em;
        text-align: left;
        line-height: unset;
    }
}



@media screen and (min-width: 768px){

    .content-row4-container button {
        font-size: 1.625em;
    }

    .top-nav-bar-icon{
        display: inline-block;
    }

    .sharethis{
        display: none;
    }

    .search-button-small{
        display: none;
    }

    .search-container input, .search-container button{
        display: inline-block;
    }

    .header-wrapper {
        height: 270px;
    }

    .nav-bar-container{
        display: block;
    }

    .nav-bar-collapsible{
        display: none;
    }

    .desc-col1{
        font-size: 2.25em;
    }
    
    .desc-col2{
        font-size: 1em;
    }
}

@media screen and (min-width: 960px){

    .footer-left, .footer-right-container {
        width: calc(100%/2 - 10px);
    }
    
}